<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container text-center">
        <div class="card">
            <div class="card-header">
                <div class="card-title"> calculatrice</div>
            </div>
            <div class="card-body">

                <form action="/calculate" method="POST" class="form">

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <input type="number" name="chiffre1" id="chiffre1" class="form-control m-2">
                            <input type="number" name="chiffre2" id="chiffre2" class="form-control m-2">
                        </div>
                        <div class="col-sm-">
                            <div class="form-check m-2">
                                <input type="radio" name="signe" id="plus" value="+" class="form-check-input">
                                <label for="plus" class="form-check-label">+</label>
                            </div>
                            <div class="form-check m-2">
                                <input type="radio" name="signe" id="moins" value="-" class="form-check-input">
                                <label for="moins" class="form-check-label">-</label>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-check m-2">
                                <input type="radio" name="signe" id="mutiplier" value="*" class="form-check-input">
                                <label for="multiplier" class="form-check-label">x</label>
                            </div>
                            <div class="form-check m-2">
                                <input type="radio" name="signe" id="diviser" value="/" class="form-check-input">
                                <label for="diviser" class="form-check-label">:</label>
                            </div>
                            <input type="submit" value="calculer" class="btn btn-primary">
                        </div>
                    </div>


                </form>
            </div>
            <div class="card-footer">
                <% if (locals.resultat){ %>
                <%= resultat %>
                <% } %>

                <% if (locals.error){%>
                <%= error%>
                <%}%>
        </div>


           
                

            
        </div>

    </div>
</body>

</html>